@* @model List<Senka_UncleSiu.Models.SampleRecord> *@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hi-C Statistics</title>
</head>
<body>
  <div class="container">
    <h1 class="py-3">Message Statistics
      <button 
        type="button" 
        class="btn btn-primary float-right"
        onclick="event.preventDefault();document.getElementById('logout').submit();"
      >Logout</button>
    </h1>
    <hr>
    <table class="table">
      <thead>
          <tr>
              <th scope="col">Message Created Number</th>
              <th scope="col">Created Date</th>
              <th scope="col">Message Received Number</th>
              <th scope="col">Received Date</th>
          </tr>
      </thead>
      <tbody>
        @{
          int unread_count = -1;

          foreach(var stat in ViewBag.stats)
          {
            if (stat.created_count == null && stat.created_date == null && stat.received_date == null) {
              unread_count = stat.received_count;
              continue;
            }
          <tr>
            <td>@(stat.created_count ?? "")</td>
            <td>
              @(stat.created_date == null ? "" : Convert.ToDateTime(stat.created_date).ToString("yyyy-MM-dd"))
            </td>
            <td>@(stat.received_count ?? "")</td>
            <td>
              @(stat.received_date == null ? "" : Convert.ToDateTime(stat.received_date).ToString("yyyy-MM-dd"))
            </td>
          </tr>
          }

          if (unread_count != -1) {
            <tr>
              <td></td>
              <td></td>
              <td colspan="2" style="border-top: 1px solid;">Unread Messages: @unread_count</td>
            </tr>
          }
        }
      </tbody>
    </table>    
  </div>
  <form id="logout" action="/admin/logout" method="POST" style="display: none;"></form>
</body>
</html>
